@media only screen and (max-width: 768px) {
    div.login {
        position: fixed;
        z-index: 50;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        background: #f6d014;
        font-weight: 600 !important;
        border: 1px solid #777;
        a {
            img {
                margin-top: 1px;
                height: 45px;
            }
            .login-text {
                padding-bottom: 5px;
                color: white !important;
            }
        }
    }
    header.banner {
        padding: 0 !important;
        .mobile-banner {
            width: 100% !important;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
        .desktop-banner {
            display: none !important;
        }
    }
    header {
        .head-contact {
            background: black;
            display: flex;
            color: white !important;
            justify-content: space-between;
            font-size: 18px !important;
            padding-left: calc(9%);
            padding-right: calc(9%);
            .head-info {
                display: none!important;
                div {
                    display: flex;
                    svg {
                        margin-right: 10px;
                    }
                    p {
                        margin: 0;
                        margin-right: 30px;
                    }
                }
            }
            .head-link_contact {
                display: flex;
                align-items: center;
                width: 10%;
                justify-content: space-between;
            }
        }
        .head-menu {
            padding-left: calc(8%);
            padding-right: calc(8%);
            height: 100px;
            display: flex;
            justify-content: space-between;
            background: white;
            position: relative;
            transition: 0.5s all ease;
            .header-image {
                img {
                    height: 100px;
                }
            }
            .menu-list {
                width: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    font-weight: 500;
                    font-size: 18px;
                    color: #777;
                    &:hover {
                        text-decoration: none;
                        font-size: 24px;
                    }
                }
                .DNnow a {
                    color: #f6d014 !important;
                }
            }
        }
    }
    main {
        .slide {
            margin: 0;
            border-top: 4px solid #f6d014;
            border-bottom: #f6d014 4px solid;
            height: 100%;
            .carousel-item img {
                height: 485px;
            }
        }
        .route {
            .route-img {
                width: 100%;
                img {
                    width: 100%;
                    border-radius: 50px;
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
        .tours {
            .card-info {
                margin-top: 10px;
                width: 80%;
                margin-left: calc(10%);
                margin-right: calc(10%);
                display: flex;
                justify-content: space-around;
                .card-detail {
                    margin-top: 15px;
                    margin-left: 15px;
                    margin-right: 15px;
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    padding: 35px 30px;
                    transition: 0.3s all ease !important;
                    &:hover {
                        padding-top: 25px;
                        .short-border {
                            width: 70%;
                        }
                        .here-1 {
                            margin-top: 20px !important;
                        }
                        .here-2 {
                            margin-bottom: 20px !important;
                        }
                        a button {
                            margin-top: 30px;
                        }
                    }
                    .border-here {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .here-1 {
                            margin-bottom: 0;
                            margin-top: 10px;
                        }
                        .here-2 {
                            margin-top: 0px;
                            border-top: 1px solid #f6d014;
                            border-bottom: none;
                            margin-bottom: 10px;
                            height: 1px;
                        }
                    }
                    .img-detail {
                        margin-top: 15px;
                        img {
                            max-width: 150px;
                            max-height: 150px;
                        }
                    }
                    .detail-title {
                        margin-top: 10px;
                        letter-spacing: 1px;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 22px;
                    }
                    .icon-detail {
                        padding-left: calc(20%);
                        padding-right: calc(20%);
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 5px;
                        a {
                            color: black !important;
                            &:hover {
                                color: #f6d014 !important;
                            }
                        }
                    }
                    .tips-detail {
                        font-weight: 700 !important;
                        color: red !important;
                    }
                    .description-detail {
                        color: #777;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 1px;
                        font-weight: 400;
                        transition: 0.3s all ease;
                    }
                    a button {
                        margin-top: 40px;
                        padding: 15px 20px;
                        background: white;
                        border-radius: 8px;
                        border: 2px solid #f6d014;
                        font-weight: 500;
                        font-size: 18px;
                        color: #f6d014;
                        width: 85%;
                        transition: 0.3s all ease;
                        svg {
                            font-size: 10px !important;
                            margin-left: 5px;
                        }
                        &:hover {
                            background: #f6d014;
                            color: white !important;
                        }
                    }
                }
            }
        }
        .about {
            .about-bgr {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .wrap {
                position: relative;
                z-index: 2;
                padding-left: calc(9%);
                padding-right: calc(9%);
                padding-top: 35px;
                padding-bottom: 40px;
                display: flex;
                align-content: center;
                .about-video {
                    width: calc( (100% - (100% / 6)) / 2);
                    box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.3);
                    padding: 25px 70px 45px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .video-title {
                        font-weight: 700;
                        font-size: 45px;
                    }
                    .video-watch-here {
                        div {
                            padding: 2px 0;
                            color: white;
                            background: #222;
                            text-align: center;
                            transform: translateY(-6px);
                        }
                    }
                    .video-pre-view {
                        display: flex;
                        flex-direction: row;
                        a {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                .about-text {
                    width: calc( (100% - (100% / 6)) / 2);
                    position: relative;
                    z-index: 5;
                    box-shadow: 0 7px 23px 0 rgba(0, 0, 0, 0.5);
                    padding: 25px 70px 45px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background: #42575b;
                    .about-title {
                        font-weight: 700;
                        color: white;
                        font-size: 45px;
                    }
                    .description-text {
                        text-align: left;
                        margin-top: 25px;
                        font-weight: 400;
                        p {
                            margin-bottom: 27px;
                            color: rgba(250, 250, 250, 0.5)
                        }
                    }
                    .about-but {
                        button {
                            border: 2px solid white;
                            border-radius: 8px;
                            width: 50%;
                            text-align: center;
                            padding: 15px 0;
                            background: none;
                            color: white;
                            transition: 0.5s;
                            &:hover {
                                border-color: #f6d014;
                                color: #f6d014;
                            }
                            svg {
                                font-size: 10px;
                                margin-left: 5px;
                                color: #f6d014;
                            }
                        }
                    }
                }
                .about-calc {
                    width: calc(100% / 6);
                    background: #42575b;
                    margin: calc(5%) 0;
                    text-align: center !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .about-number {
                        padding: 38px 0;
                        h2 {
                            font-weight: 900;
                            font-size: 45px;
                            color: white;
                        }
                        .description-text {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .latest-news {
            .news-title {
                margin-bottom: 32px;
                font-weight: 700;
                text-align: center;
            }
            .news {
                padding-left: calc(8%);
                padding-right: calc(8%);
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .news-post {
                    width: 31.5%;
                    .news-img {
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .news-date {
                            position: absolute;
                            z-index: 10;
                            background: #f6d014;
                            text-align: center;
                            padding: 15px 13px 10px;
                            top: 0;
                            left: 10px;
                            color: white !important;
                            height: 100px;
                            width: 60px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            span {
                                font-weight: 500;
                            }
                            h3 {
                                font-weight: 700;
                            }
                        }
                        .path {
                            background: #f6d014;
                            position: absolute;
                            left: 10px;
                            top: 100px;
                            z-index: 11;
                            clip-path: polygon(0 0, 0 100%, 100% 0);
                            width: 18px;
                            height: 15px;
                        }
                    }
                    .news-posted-in {
                        margin-top: 2px;
                        text-align: right;
                        font-weight: 500;
                        span {
                            color: #42575b;
                            font-weight: 600;
                        }
                    }
                    .new-posted-title {
                        a {
                            color: #282828 !important;
                            font-size: 21px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .map-here {
            border-top: 5px solid #f6d014;
            background: #42575b;
            padding: 20px calc(8%);
            display: flex;
            flex-direction: row;
            .quick-link {
                width: calc(34%);
                .quick-title {
                    font-weight: 700;
                    font-size: 18px;
                    color: white;
                }
                .quick-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    height: 180px;
                    margin-top: 15px;
                    a {
                        font-weight: 500;
                        color: white;
                        svg {
                            font-size: 10px;
                            margin-right: 10px;
                            color: #f6d014;
                            transition: 0.5s all ease;
                        }
                        &:hover {
                            svg {
                                margin-right: 3px;
                                margin-left: 7px;
                            }
                        }
                    }
                }
            }
            .map {
                width: calc(66%);
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    footer {
        background: #1e354a;
        text-align: center;
        color: #f6d014;
        padding: 7px 0;
        font-size: 14px;
    }
    .fixed-menu {
        position: fixed !important;
        top: 0 !important;
        z-index: 20 !important;
        width: 100%;
        height: 54px !important;
        border-bottom: 4px solid #f6d014;
        img {
            height: 50px !important;
        }
    }
    .fixed-small {
        position: fixed !important;
        top: 0 !important;
        z-index: 20 !important;
    }
}