    /*
    Flaticon icon font: Flaticon
    Creation date: 11/07/2018 09:48
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-walk:before { content: "\f100"; }
.flaticon-gift:before { content: "\f101"; }
.flaticon-share:before { content: "\f102"; }
.flaticon-museum:before { content: "\f103"; }
.flaticon-shop:before { content: "\f104"; }
.flaticon-bed:before { content: "\f105"; }
.flaticon-boston:before { content: "\f106"; }
.flaticon-rotterdam:before { content: "\f107"; }
.flaticon-paris:before { content: "\f108"; }
.flaticon-kitchen:before { content: "\f109"; }
.flaticon-leaf:before { content: "\f10a"; }
.flaticon-cocktail:before { content: "\f10b"; }
.flaticon-joker:before { content: "\f10c"; }
.flaticon-eye:before { content: "\f10d"; }
    
    $font-Flaticon-walk: "\f100";
    $font-Flaticon-gift: "\f101";
    $font-Flaticon-share: "\f102";
    $font-Flaticon-museum: "\f103";
    $font-Flaticon-shop: "\f104";
    $font-Flaticon-bed: "\f105";
    $font-Flaticon-boston: "\f106";
    $font-Flaticon-rotterdam: "\f107";
    $font-Flaticon-paris: "\f108";
    $font-Flaticon-kitchen: "\f109";
    $font-Flaticon-leaf: "\f10a";
    $font-Flaticon-cocktail: "\f10b";
    $font-Flaticon-joker: "\f10c";
    $font-Flaticon-eye: "\f10d";