@media only screen and (min-width: 768px) {
    div.chat {
        position: fixed;
        z-index: 50;
        right: 1%;
        bottom: 5%;
        a {
            img {
                margin-top: 1px;
                height: 45px;
            }
            svg {
                font-size: 80px;
                color: #0084ff;
            }
        }
        div {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 30px;
            background: white;
        }
    }
    header {
        background: white !important;
        padding: 0 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90px;
        width: 100%;
        .contact {
            display: flex;
            width: 18%;
            padding-left: 3%;
            justify-content: space-between;
            svg {
                font-size: 20px;
                color: #828282;
                transition: 0.3s all ease;
                &:hover {
                    color: #f6d014;
                }
            }
        }
        .info {
            display: flex;
            width: 50%;
            justify-content: space-around;
            text-align: center !important;
            .info-number {
                font-size: 24px;
                color: #f6d014;
            }
            .info-text {
                font-size: 18px;
            }
        }
        .logo {
            height: 80%;
            img {
                height: 100%;
                width: 80px;
            }
        }
    }
    main {
        .cover {
            margin-top: 0;
            font-family: 'Oxygen', cursive !important;
            position: relative;
            width: 100%;
            color: white !important;
            .img-overlay {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .cover-text {
                position: absolute;
                width: 100%;
                z-index: 5;
                top: 8%;
                left: 50%;
                transform: translateX(-50%);
                .cover-title {
                    font-size: 36px;
                    text-align: center;
                    line-height: 52px;
                    margin-bottom: 15px;
                }
                .cover-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0px 30%;
                    .info {
                        display: flex;
                        align-items: center;
                        font-size: 24px !important;
                        .number {
                            margin-right: 10px;
                            .number-text {
                                color: black;
                            }
                        }
                    }
                }
            }
        }
        .route {
            margin-top: 0;
            background: url(/images/Route-background-01.png) no-repeat center;
            background-size: cover;
            .route-title {
                padding-top: 35px;
                background: white;
                font-size: 28px;
                text-align: center;
                margin-bottom: 70px;
            }
            .route-map {
                width: 100%;
                font-family: Oxygen !important;
                padding: 0 5%;
                display: flex;
                .route-course {
                    width: 25%;
                    letter-spacing: 1px;
                    .time-title {
                        font-size: 18px;
                        font-weight: 700;
                        text-align: center;
                    }
                    .time-border {
                        height: 2px;
                        width: 60%;
                        margin: 10px 20%;
                        border-bottom: 1px solid #f6d014;
                    }
                    .time-description {
                        font-size: 18px;
                        font-weight: 600;
                        padding-left: 37%;
                    }
                    .time-text {
                        font-size: 16px;
                        margin: 12px 0;
                        padding-left: 37%;
                    }
                }
                .route-lead {
                    width: 65%;
                    p {
                        font-weight: bold;
                        font-size: 18px;
                        margin: 0;
                    }
                    i::before {
                        margin: 0;
                    }
                    .text-place {
                        display: flex;
                        align-items: center;
                        img {
                            width: 50px;
                            height: 50px;
                            margin-left: 17px;
                        }
                        p {
                            width: 40%;
                            text-align: right;
                            padding-right: 20px;
                        }
                        i {
                            color: #f6d014 !important;
                        }
                        i::before {
                            font-size: 50px !important;
                        }
                    }
                    .place-text {
                        padding-left: calc(40%);
                        display: flex;
                        align-items: center;
                        i {
                            color: #f6d014 !important;
                        }
                        i::before {
                            font-size: 50px !important;
                        }
                        p {
                            padding-left: 20px;
                        }
                    }
                    .text-border {
                        margin: 2px 0;
                        display: flex;
                        align-items: center;
                        p {
                            width: 40%;
                            padding-right: 20px;
                            text-align: right;
                            font-weight: normal;
                        }
                        .walk-border {
                            position: relative;
                            width: 50px;
                            .route-line {
                                position: relative;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 120px;
                                width: 1px;
                                background: #C3BFBF;
                            }
                            i::before {
                                position: absolute;
                                z-index: 10;
                                font-size: 22px;
                                animation-name: runbaby;
                                animation-duration: 2s;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                    .border-text {
                        margin: 2px 0;
                        display: flex;
                        align-items: center;
                        padding-left: 40%;
                        .walk-border {
                            position: relative;
                            width: 50px;
                            .route-line {
                                position: relative;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 120px;
                                width: 1px;
                                background: #C3BFBF;
                            }
                            i::before {
                                position: absolute;
                                z-index: 10;
                                font-size: 22px;
                                animation-name: runbaby;
                                animation-duration: 2s;
                                animation-iteration-count: infinite;
                            }
                        }
                        p {
                            padding-left: 20px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .tours {
            padding-top: 21px;
            .big-title {
                text-align: center;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 21px;
                font-weight: bold;
            }
            .description-text {
                color: #454647;
                font-size: 28px;
                line-height: 35px;
                margin-bottom: 42px;
            }
            .card-row {
                display: flex;
                justify-content: space-between;
                padding: 0 5% 31px;
                .card-item {
                    width: calc( 25% - 15px);
                    .card-show {
                        width: 100%;
                        .show-img {
                            width: 100%;
                            position: relative;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                            .card-hide {
                                transition: 0.3s all ease;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                text-align: center;
                                top: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                                .hide-wrap {
                                    background: white;
                                    padding: 12px 0;
                                    .hide-title {
                                        font-size: 16px;
                                        color: #454647;
                                        padding: 0 35px;
                                    }
                                    .hide-bor {
                                        background: #f6d014;
                                        width: 100%;
                                        height: 1px;
                                        margin: 18px 0;
                                    }
                                    .hide-bor-2 {
                                        display: none;
                                    }
                                }
                            }
                        }
                        .show-title {
                            font-size: 18px;
                            line-height: 23px;
                            font-weight: bold;
                            text-align: center;
                            margin-top: 5px;
                            margin-bottom: 8px;
                        }
                        .tips {
                            font-size: 18px;
                            line-height: 23px;
                            font-weight: bold;
                            color: #828282;
                            text-align: center;
                            margin-bottom: 8px;
                        }
                        a {
                            display: flex;
                            justify-content: space-evenly;
                            .button {
                                border-radius: 12px;
                                text-align: center;
                                padding: 8px 0;
                                width: 30%;
                                background: #f6d014;
                                color: white;
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                    &:hover {
                        .card-hide {
                            top: 0% !important;
                        }
                    }
                }
            }
        }
        .thingstodo {
            background: white;
            padding: 25px calc(5%);
            .things-title {
                font-size: 30px;
                font-weight: 700;
                padding-bottom: 10px;
                text-align: center;
                margin-bottom: 22px;
            }
            .things-catalog {
                margin: 0px 5% 0;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .things-but {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        color: #f6d014;
                    }
                    i {
                        &:hover {
                            color: #f6d014 !important;
                            border-color: #f6d014 !important;
                        }
                    }
                    i::before {
                        font-weight: 500;
                        margin: 0;
                        color: #8B8989;
                        font-size: 38px !important;
                        border: 1px solid #8B8989;
                        border-radius: 50%;
                        padding: 12px;
                        &:hover {
                            color: #f6d014 !important;
                            border: #f6d014 1px solid !important;
                        }
                    }
                    p {
                        margin-top: 15px;
                        text-align: center;
                        margin-bottom: 0;
                        transition: 0.3s all ease;
                    }
                }
            }
            .things-card {
                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 30px 0;
                background: white;
                transition: 0.3s all ease;
                border: #d6d6d6 1px solid;
                .things-img {
                    width: 100%;
                }
                .things-detail {
                    margin-top: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 8px;
                    font-size: 18px;
                    margin-bottom: 1px;
                    line-height: 20px;
                }
                .things-description {
                    height: 54px;
                    line-height: 27px;
                    padding: 0 8px;
                    font-size: 18px;
                    margin-bottom: 1px;
                }
                .cost {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    font-size: 16px !important;
                    padding: 0 8px;
                    .cost-bor {
                        height: 15px;
                        width: 1px;
                        background: #8B8989;
                        margin: 0 10px;
                    }
                }
                .cmt {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0 8px;
                    margin-bottom: 11px;
                    .cmt-num {
                        font-size: 18px;
                        margin-right: 5px;
                    }
                    svg {
                        color: #f6d014;
                        transform: translateY(1px);
                        font-size: 24px;
                    }
                }
            }
        }
        .package {
            background: white;
            padding: 16px 0;
            .package-title {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }
            .package-choose {
                margin: 35px 0 24px;
                padding: 0 25%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                .left-pack,
                .right-pack {
                    svg {
                        font-size: 28px;
                    }
                }
                .img-pack {
                    width: 20%;
                    img {
                        width: 100%;
                    }
                }
            }
            .pack-list {
                padding: 0 5%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .pack-item {
                    width: calc(25% - 10px);
                    position: relative;
                    background: url("/images/Bacground-Packages-01-01.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 60px 10px 30px;
                    .item-title {
                        margin-bottom: 16px;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        .item-name {
                            display: inline;
                            font-size: 18px;
                            color: #454647;
                        }
                        .space {
                            display: inline-block;
                            transform: translateY(-3px);
                        }
                        .item-cost {
                            display: inline;
                        }
                    }
                    .item-list {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 24px;
                        .item-row {
                            display: flex;
                            margin-bottom: 8px;
                            font-size: 16px;
                            svg {
                                font-size: 12px;
                                margin-right: 5px;
                                transform: translateY(-3px);
                                color: #f6d014;
                            }
                        }
                    }
                    .item-buy {
                        padding: 0 calc(35%);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .item-down,
                        .item-up {
                            font-size: 24px;
                        }
                        .item-box {
                            padding: 8px 0;
                            text-align: center;
                            border: 1px solid #f6d014;
                            border-radius: 8px;
                            margin-bottom: 8px;
                        }
                    }
                    .item-button {
                        margin: 0 25%;
                        border: 1px solid #f6d014;
                        border-radius: 20px;
                        .item-but-here {
                            margin-left: 14px;
                            background: #f6d014;
                            border-radius: 20px;
                            text-align: center;
                            font-size: 14px;
                            color: white;
                            padding: 6px;
                        }
                    }
                }
            }
        }
        .latest-news {
            padding: 34px 0;
            .news-title {
                color: #454647;
                font-size: 24px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 42px;
                letter-spacing: 1px;
            }
            .news {
                padding: 0 20%;
                .news-item {
                    .item-title {
                        margin-top: 19px;
                        font-weight: bold;
                        font-size: 24px;
                    }
                    .item-detail {
                        margin-top: 4px;
                        font-size: 18px;
                        font-weight: 300;
                    }
                    .item-author {
                        margin-top: 15px;
                        margin-bottom: 26px;
                        font-weight: 300;
                        font-size: 14px;
                        b {
                            font-weight: bold;
                        }
                    }
                    .news-bor {
                        width: 100%;
                        height: 1px;
                        margin-top: 26px;
                        background: #C4C4C4;
                    }
                }
            }
        }
        .about-us {
            font-family: Oxygen !important;
            padding: 0 8%;
            .about-title {
                font-family: Oxygen;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 24px;
                text-align: center;
                letter-spacing: 0.08em;
                color: #454647;
            }
            .galleries {
                display: flex;
                margin: 25px 0;
                .img {
                    padding: 0 5%;
                    width: 50%;
                    img {
                        width: 100%;
                    }
                }
                .video {
                    width: 50%;
                    padding: 0 5%;
                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .told {
                width: 100%;
                display: flex;
                .client {
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 20px;
                    .avatar {
                        width: 100%;
                        text-align: center;
                        margin-bottom: 8px;
                        img {
                            width: 45%;
                            border-radius: 50%;
                        }
                    }
                    .name {
                        font-family: Oxygen;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                    }
                    .from {
                        font-family: Open Sans;
                        font-style: italic;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                    }
                }
                .quote {
                    width: 66%;
                }
                .start {
                    font-family: Oxygen;
                    font-style: italic;
                    font-weight: bold;
                    line-height: normal;
                    font-size: 72px;
                    height: 45px;
                    transform: translateX(-35px);
                    color: #f6d014;
                }
                .star {
                    width: 100%;
                    display: flex;
                    .rated {
                        svg {
                            font-size: 18px;
                            color: #f6d014;
                        }
                    }
                    .title {
                        margin-left: 15px;
                        margin-bottom: 8px;
                        font-weight: bold;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0.08em;
                    }
                }
                .content {
                    font-weight: 300;
                    line-height: normal;
                    text-align: justify;
                    font-size: 16px;
                    color: #000000;
                }
                .end {
                    font-family: Oxygen;
                    font-style: italic;
                    font-weight: bold;
                    line-height: 60px;
                    font-size: 72px;
                    height: 25px;
                    text-align: right;
                    transform: translateX(8px);
                    color: #f6d014;
                }
                .tripAd {
                    font-family: Open Sans !important;
                    font-style: italic !important;
                    font-size: 16px !important;
                    color: #454647;
                    text-align: right;
                    margin-top: 5px;
                    margin-right: 15px;
                }
            }
            .logo {
                margin-top: 25px;
                .logo-img {
                    text-align: center;
                    img {
                        width: 125px;
                        height: 105px;
                    }
                }
                .contact {
                    display: flex;
                    justify-content: space-between;
                    .contact-icon {
                        a {
                            color: #161616 !important;
                            display: flex;
                            svg {
                                margin-right: 5px;
                                transform: translateY(3px);
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        background: #363636;
        text-align: center;
        color: #f6d014;
        padding: 7px 0;
        font-size: 14px;
    }
    .things-but-clicked {
        color: #f6d014;
        i::before {
            color: #f6d014 !important;
            border: #f6d014 1px solid !important;
        }
    }
}