@media only screen and (min-width: 768px) {
    div.chat {
        position: fixed;
        z-index: 50;
        right: 1%;
        bottom: 5%;
        a {
            img {
                margin-top: 1px;
                height: 45px;
            }
            svg {
                font-size: 80px;
                color: #0084ff;
            }
        }
        div {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 30px;
            background: white;
        }
    }
    header.banner {
        padding: 0 !important;
        .mobile-banner {
            display: none !important;
        }
        .desktop-banner {
            width: 100% !important;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    header {
        .head-contact {
            background: black;
            display: flex;
            color: white !important;
            justify-content: space-between;
            font-size: 18px !important;
            padding-left: calc(9%);
            padding-right: calc(9%);
            .head-info {
                display: flex;
                width: 85%;
                align-items: center;
                height: 50px;
                div {
                    a {
                        color: white;
                        display: flex;
                    }
                    svg {
                        margin-right: 6px;
                        transform: translateY(5%);
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                        margin-right: 30px;
                        color: white !important;
                    }
                }
            }
            .head-link_contact {
                display: flex;
                align-items: center;
                width: 15%;
                justify-content: space-between;
                a {
                    color: white;
                    svg {
                        font-size: 22px;
                    }
                }
            }
        }
        .head-menu {
            padding-left: calc(8%);
            padding-right: calc(8%);
            height: 100px;
            display: flex;
            justify-content: space-between;
            background: white;
            position: relative;
            transition: 0.3s all ease;
            .header-image {
                img {
                    height: 100px;
                    transition: 0.3s all ease;
                }
            }
            .menu-list {
                width: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    font-weight: 500;
                    font-size: 16px;
                    color: #777;
                }
                .DNnow a {
                    color: #f6d014 !important;
                }
            }
        }
    }
    main {
        .slide {
            margin: 0;
            border-top: 4px solid #f6d014;
            border-bottom: #f6d014 4px solid;
            height: 100%;
            .carousel-item img {
                height: 430px;
            }
            .slide-text {
                position: absolute;
                top: 50%;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                display: flex !important;
                flex-direction: column;
                justify-content: space-between;
                h1 {
                    font-size: 35px;
                    font-weight: 700;
                }
                h4 {
                    font-weight: 700;
                    font-size: 19px;
                }
                div {
                    color: white;
                    margin: 0 calc(40%);
                    width: 20%;
                    border-radius: 8px;
                    background: #f6d014;
                    padding: 8px 0;
                    a {
                        color: white;
                        font-weight: 500;
                        font-size: 16px;
                        svg {
                            font-size: 11px;
                            transform: translateY(-1px);
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
        .route {
            .route-img {
                width: 100%;
                img {
                    width: 100%;
                    border-radius: 50px;
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
        .tours {
            .card-info {
                margin-top: 10px;
                width: 80%;
                margin-left: calc(10%);
                margin-right: calc(10%);
                display: flex;
                justify-content: space-around;
                .card-wrap {
                    display: flex;
                    justify-content: space-around;
                    .card-detail {
                        margin-top: 15px;
                        margin-left: 15px;
                        margin-right: 15px;
                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        padding: 15px 15px 25px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        transition: 0.3s all ease !important;
                        &:hover {
                            padding-top: 5px;
                            .border-here {
                                height: 34px;
                            }
                            .short-border {
                                width: 150px !important;
                            }
                            .here-1 {
                                margin-top: 15px !important;
                                width: 150px;
                                height: 2px;
                            }
                            .here-2 {
                                margin-bottom: 15px !important;
                                height: 2px;
                                width: 150px;
                            }
                            .description-detail {
                                margin-bottom: 10px;
                            }
                        }
                        .border-here {
                            height: 14px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .here-1 {
                                margin-bottom: 0;
                                margin-top: 5px;
                                height: 2px;
                                border-bottom: 1px solid black;
                            }
                            .here-2 {
                                margin-top: 0px;
                                border-top: 1px solid #f6d014;
                                border-bottom: none;
                                margin-bottom: 5px;
                                height: 2px;
                            }
                        }
                        .img-detail {
                            margin-top: 15px;
                            img {
                                width: 200px;
                                height: 200px;
                            }
                        }
                        .detail-title {
                            margin-top: 10px;
                            letter-spacing: 1px;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                        }
                        .icon-detail {
                            padding-left: calc(20%);
                            padding-right: calc(20%);
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 5px;
                            a {
                                color: black !important;
                                &:hover {
                                    color: #f6d014 !important;
                                }
                            }
                        }
                        .tips-detail {
                            font-weight: 700 !important;
                            color: red !important;
                        }
                        .description-detail {
                            color: #777;
                            font-size: 14px;
                            line-height: 18px;
                            letter-spacing: 1px;
                            font-weight: 400;
                            transition: 0.3s all ease;
                            margin-bottom: 20px;
                        }
                        .button {
                            text-align: center;
                            padding: 5px 0px;
                            background: white;
                            border-radius: 8px;
                            border: 2px solid #f6d014;
                            font-weight: 500;
                            font-size: 18px;
                            color: #f6d014;
                            width: 80%;
                            transition: 0.3s all ease;
                            a {
                                color: #f6d014;
                            }
                            svg {
                                font-size: 12px !important;
                                margin-left: 5px;
                                transform: translateY(-2px);
                            }
                            &:hover {
                                background: #f6d014;
                                a {
                                    color: white !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .thingstodo {
            background: white;
            padding: 25px calc(5%);
            .things-title {
                font-size: 30px;
                font-weight: 700;
                padding-bottom: 10px;
                border-bottom: #f6d014 5px solid;
                margin-bottom: 22px;
            }
            .things-catalog {
                margin: 0px 5% 0;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                .things-but {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    &:hover {
                        color: #f6d014;
                    }
                    i {
                        &:hover {
                            color: #f6d014 !important;
                            border-color: #f6d014 !important;
                        }
                    }
                    i::before {
                        font-weight: 500;
                        margin: 0;
                        color: #8B8989;
                        font-size: 38px !important;
                        border: 1px solid #8B8989;
                        border-radius: 50%;
                        padding: 12px;
                        &:hover {
                            color: #f6d014 !important;
                            border: #f6d014 1px solid !important;
                        }
                    }
                    p {
                        margin-top: 5px;
                        text-align: center;
                        margin-bottom: 0;
                        transition: 0.3s all ease;
                    }
                }
            }
            .things-card {
                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                margin: 30px 0;
                background: white;
                transition: 0.3s all ease;
                border: #d6d6d6 1px solid;
                .things-img {
                    width: 100%;
                    img {
                        height: 160px;
                    }
                }
                .things-detail {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 8px;
                    font-weight: 700;
                    font-size: 17px;
                    margin-bottom: 1px;
                    line-height: 20px;
                }
                .things-address {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding: 0 8px;
                    font-size: 15px;
                    color: #9f9f9f;
                    margin-bottom: 1px;
                }
                .things-rated {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 8px;
                    padding: 0 8px;
                    .things-star {
                        font-size: 14px;
                        letter-spacing: 1px;
                        svg {
                            color: #f6d014;
                        }
                    }
                    .things-more {
                        padding: 6px 10px;
                        border: 1px solid #f6d014;
                        border-radius: 5px;
                        color: #f6d014;
                        transition: 0.3s all ease;
                        font-weight: 500;
                        &:hover {
                            background: #f6d014;
                            .more {
                                color: white !important;
                            }
                        }
                        svg {
                            margin-right: 5px;
                            font-size: 11px;
                            transform: translateY(-1px);
                        }
                        .more {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .package {
            padding: 20px calc(8%);
            .package-title {
                font-weight: 700;
                font-size: 30px;
                padding-bottom: 10px;
                border-bottom: #f6d014 5px solid;
                margin-bottom: 15px;
            }
            .package-wrap {
                display: flex;
                flex-wrap: wrap;
                padding: 0 calc(1%);
                justify-content: space-between;
                .package-item {
                    width: 24%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .latest-news {
            .news-title {
                margin-bottom: 32px;
                font-weight: 700;
                text-align: center;
            }
            .news {
                padding-left: calc(5%);
                padding-right: calc(5%);
                .news-post {
                    width: 100%;
                    position: relative;
                    img {
                        width: 100%;
                        height: 160px;
                    }
                    .news-date {
                        position: absolute;
                        z-index: 10;
                        background: #f6d014;
                        text-align: center;
                        padding: 8px 10px;
                        top: 0;
                        left: 10px;
                        color: white !important;
                        height: 65px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        span {
                            font-weight: 500;
                            font-size: 12px;
                        }
                        h3 {
                            font-weight: 700;
                            font-size: 18px;
                            margin-bottom: 0px;
                        }
                    }
                    .path {
                        background: #f6d014;
                        position: absolute;
                        left: 10px;
                        top: 65px;
                        z-index: 11;
                        clip-path: polygon(0 0, 0 100%, 100% 0);
                        width: 8px;
                        height: 10px;
                    }
                    .news-in {
                        text-align: right;
                        color: black !important;
                        font-size: 12px !important;
                        margin-top: 5px;
                        p {
                            color: #9f9f9f !important;
                            display: inline;
                        }
                    }
                    .news-detail {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }
        }
        .about-us {
            font-family: Oxygen !important;
            padding: 0 8%;
            .about-title {
                font-family: Oxygen;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 24px;
                text-align: center;
                letter-spacing: 0.08em;
                color: #454647;
            }
            .galleries {
                display: flex;
                margin: 25px 0;
                .img {
                    padding: 0 5%;
                    width: 50%;
                    img {
                        width: 100%;
                    }
                }
                .video {
                    width: 50%;
                    padding: 0 5%;
                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .told {
                width: 100%;
                display: flex;
                .client {
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 20px;
                    .avatar {
                        width: 100%;
                        text-align: center;
                        margin-bottom: 8px;
                        img {
                            width: 45%;
                            border-radius: 50%;
                        }
                    }
                    .name {
                        font-family: Oxygen;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                    }
                    .from {
                        font-family: Open Sans;
                        font-style: italic;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                    }
                }
                .quote {
                    width: 66%;
                }
                .start {
                    font-family: Oxygen;
                    font-style: italic;
                    font-weight: bold;
                    line-height: normal;
                    font-size: 72px;
                    height: 45px;
                    transform: translateX(-35px);
                    color: #f6d014;
                }
                .star {
                    width: 100%;
                    display: flex;
                    .rated {
                        svg {
                            font-size: 18px;
                            color: #f6d014;
                        }
                    }
                    .title {
                        margin-left: 15px;
                        margin-bottom: 8px;
                        font-weight: bold;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                        letter-spacing: 0.08em;
                    }
                }
                .content {
                    font-weight: 300;
                    line-height: normal;
                    text-align: justify;
                    font-size: 16px;
                    color: #000000;
                }
                .end {
                    font-family: Oxygen;
                    font-style: italic;
                    font-weight: bold;
                    line-height: 60px;
                    font-size: 72px;
                    height: 25px;
                    text-align: right;
                    transform: translateX(8px);
                    color: #f6d014;
                }
                .tripAd {
                    font-family: Open Sans !important;
                    font-style: italic !important;
                    font-size: 16px !important;
                    color: #454647;
                    text-align: right;
                    margin-top: 5px;
                    margin-right: 15px;
                }
            }
            .logo{
                margin-top: 25px;
                .logo-img{
                    text-align: center;
                    img{
                        width: 125px;
                        height: 105px;
                    }
                }
                .contact{
                    display: flex;
                    justify-content: space-between;
                    .contact-icon{
                        a{
                            color: #161616 !important;
                            display: flex;
                            svg{
                                margin-right: 5px;
                                transform: translateY(3px);
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        background: #1e354a;
        text-align: center;
        color: #f6d014;
        padding: 7px 0;
        font-size: 14px;
    }
    .fixed-menu {
        position: fixed !important;
        top: 0 !important;
        z-index: 20 !important;
        width: 100%;
        height: 54px !important;
        border-bottom: 4px solid #f6d014;
        transition: 0.3 all ease;
        img {
            height: 50px !important;
        }
    }
    .fixed-small {
        position: fixed !important;
        top: 0 !important;
        z-index: 20 !important;
    }
    .things-but-clicked {
        color: #f6d014;
        i::before {
            color: #f6d014 !important;
            border: #f6d014 1px solid !important;
        }
    }
}