@media only screen and (max-width: 768px) {
    div.chat {
        position: fixed;
        z-index: 50;
        right: 4%;
        bottom: 5%;
        a {
            img {
                margin-top: 1px;
                height: 45px;
            }
            svg {
                font-size: 60px;
                color: #0084ff;
            }
        }
        div {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35px;
            height: 25px;
            background: white;
        }
    }
    header {
        background: white;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        padding-bottom: 2px;
        .contact {
            display: flex;
            padding: 10px 0;
            background: #f6d014;
            justify-content: space-around;
            svg {
                font-size: 20px;
                color: white;
            }
        }
        .logo {
            text-align: center;
            margin: 5px 0;
            img {
                height: 100%;
                width: 50px;
            }
        }
        .info-item {
            display: none;
        }
    }
    main {
        .cover {
            margin-top: 0;
            position: relative;
            width: 100%;
            .img-overlay {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .cover-text {
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: 5;
                top: 8%;
                left: 50%;
                transform: translateX(-50%);
                .cover-title {
                    font-size: 14px;
                    text-align: center;
                    line-height: 24px;
                    font-weight: 500;
                    color: white;
                }
                .cover-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 16px !important;
                        .number {
                            margin-right: 2px;
                            .number-text {
                                color: #f6d014;
                            }
                        }
                    }
                }
            }
        }
        .route {
            margin-top: 0;
            padding-top: 16px;
            font-family: 'Oxygen' !important;
            .route-title {
                font-size: 18px;
                text-align: center;
                margin-bottom: 20px;
            }
            .route-map {
                width: 100%;
                font-family: Oxygen !important;
                padding: 0 5%;
                display: flex;
                flex-direction: column-reverse;
                .route-course {
                    width: 100%;
                    letter-spacing: 1px;
                    text-align: center;
                    .time-title {
                        font-size: 16px;
                        font-weight: 700;
                        text-align: center;
                    }
                    .time-border {
                        height: 2px;
                        width: 60%;
                        margin: 10px 20%;
                        border-bottom: 1px solid #f6d014;
                    }
                    .time-description {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .time-text {
                        font-size: 14px;
                        margin: 12px 0;
                    }
                }
                .route-lead {
                    width: 100%;
                    p {
                        font-weight: bold;
                        font-size: 12px;
                        margin: 0;
                    }
                    i::before {
                        margin: 0;
                    }
                    .text-place {
                        display: flex;
                        align-items: center;
                        img {
                            width: 50px;
                            height: 50px;
                            margin-left: 17px;
                        }
                        p {
                            width: calc(50% - 25px);
                            text-align: right;
                            padding-right: 10px;
                        }
                        i {
                            color: #f6d014 !important;
                        }
                        i::before {
                            font-size: 50px !important;
                        }
                    }
                    .place-text {
                        padding-left: calc(50% - 25px);
                        display: flex;
                        align-items: center;
                        i {
                            color: #f6d014 !important;
                        }
                        i::before {
                            font-size: 50px !important;
                        }
                        p {
                            padding-left: 10px;
                        }
                    }
                    .text-border {
                        margin: 2px 0;
                        display: flex;
                        align-items: center;
                        p {
                            width: calc(50% - 25px);
                            padding-right: 10px;
                            text-align: right;
                        }
                        .walk-border {
                            position: relative;
                            width: 50px;
                            .route-line {
                                position: relative;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 120px;
                                width: 1px;
                                background: #C3BFBF;
                            }
                            i::before {
                                position: absolute;
                                z-index: 10;
                                font-size: 22px;
                                animation-name: runbaby;
                                animation-duration: 2s;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                    .border-text {
                        margin: 2px 0;
                        display: flex;
                        align-items: center;
                        padding-left: calc(50% - 25px);
                        .walk-border {
                            position: relative;
                            width: 50px;
                            .route-line {
                                position: relative;
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 120px;
                                width: 1px;
                                background: #C3BFBF;
                            }
                            i::before {
                                position: absolute;
                                z-index: 10;
                                font-size: 22px;
                                animation-name: runbaby;
                                animation-duration: 2s;
                                animation-iteration-count: infinite;
                            }
                        }
                        p {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        .thingstodo {
            background: white;
            padding: 15px calc(2%);
            .things-title {
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 10px;
                margin-bottom: 15px;
            }
            .things-catalog {
                display: flex;
                flex-wrap: wrap;
                .things-but {
                    width: calc((100% / 3) - 10px);
                    margin: 5px;
                    padding: 8px 0;
                    cursor: pointer;
                    transition: 0.3s all ease;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    i::before {
                        margin: 0;
                    }
                    p {
                        text-align: center;
                        font-size: 12px;
                        margin: 0;
                    }
                }
                .things-but-clicked {
                    color: white;
                    background: #f6d014;
                }
            }
            .things-card {
                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 30px 0;
                background: white;
                transition: 0.3s all ease;
                border: #f3f3f3 1px solid;
                .things-img {
                    width: 100%;
                }
                .things-description {
                    margin-top: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 12px;
                    padding: 0 5px;
                }
                .things-detail {
                    display: none;
                }
                .cost {
                    display: flex;
                    flex-direction: column;
                    font-size: 12px !important;
                    padding: 0 5px;
                    .cost-bor {
                        display: none;
                    }
                }
                .cmt {
                    display: flex;
                    justify-content: flex-end;
                    padding: 0 5px;
                    margin-bottom: 5px;
                    .cmt-num {
                        font-size: 12px;
                        margin-right: 5px;
                    }
                    svg {
                        color: #f6d014;
                        transform: translateY(1px);
                        font-size: 12px;
                    }
                }
            }
        }
        .tours {
            padding-top: 16px;
            .big-title {
                text-align: center;
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 11px;
                font-weight: bold;
            }
            .description-text {
                color: #454647;
                font-size: 16px;
                line-height: 18px;
                margin-bottom: 12px;
            }
            .card-row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 5px 31px;
                .card-item {
                    width: calc( 50% - 5px);
                    margin-bottom: 10px;
                    .card-show {
                        width: 100%;
                        .show-img {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                            .card-hide {
                                transform: translateY(18px);
                                .hide-wrap {
                                    padding: 10px 3% 0;
                                    .hide-title {
                                        display: none;
                                    }
                                    .hide-bor {
                                        display: none;
                                    }
                                    .hide-time {
                                        font-size: 12px;
                                    }
                                    .hide-bor-2 {
                                        width: 100%;
                                        height: 2px;
                                        border-bottom: 1px solid #f6d014;
                                        padding-top: 5px;
                                    }
                                }
                            }
                        }
                        .show-title {
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: bold;
                            text-align: left;
                            margin-top: 5px;
                            margin-bottom: 8px;
                            padding:0 3%;
                            transform: translateY(-50px);
                        }
                        .tips {
                            font-size: 12px;
                            line-height: 13px;
                            font-weight: bold;
                            color: #828282;
                            text-align: center;
                            margin-bottom: 8px;
                        }
                        a {
                            display: flex;
                            justify-content: space-evenly;
                            .button {
                                border-radius: 12px;
                                text-align: center;
                                padding: 4px 0;
                                width: 60%;
                                background: #f6d014;
                                color: white;
                                font-size: 12px;
                                line-height: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        .package {
            background: white;
            padding: 16px 0;
            .package-title {
                font-size: 24px;
                font-weight: bold;
                text-align: center;
            }
            .package-choose {
                margin: 35px 0 24px;
                padding: 0 15%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                .left-pack,
                .right-pack {
                    svg {
                        font-size: 18px;
                    }
                }
                .img-pack {
                    width: 50%;
                    img {
                        width: 100%;
                    }
                }
            }
            .pack-list {
                padding: 0 3%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .pack-item {
                    margin-bottom: 15px;
                    width: calc(100%);
                    position: relative;
                    background: url("/images/Background-pack-01.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding: 60px 10px 30px;
                    .item-title {
                        margin-bottom: 16px;
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        .item-name {
                            display: inline;
                            font-size: 18px;
                            color: #454647;
                        }
                        .space {
                            display: inline-block;
                            transform: translateY(-3px);
                        }
                        .item-cost {
                            display: inline;
                        }
                    }
                    .item-list {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 24px;
                        .item-row {
                            display: flex;
                            margin-bottom: 8px;
                            font-size: 16px;
                            padding: 0 10px;
                            svg {
                                font-size: 12px;
                                margin-right: 5px;
                                transform: translateY(-3px);
                                color: #f6d014;
                            }
                        }
                    }
                    .item-buy {
                        padding: 0 calc(35%);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        .item-down,
                        .item-up {
                            font-size: 24px;
                        }
                        .item-box {
                            padding: 8px 0;
                            text-align: center;
                            border: 1px solid #f6d014;
                            border-radius: 8px;
                            margin-bottom: 8px;
                        }
                    }
                    .item-button {
                        margin: 0 25%;
                        border: 1px solid #f6d014;
                        border-radius: 20px;
                        .item-but-here {
                            margin-left: 14px;
                            background: #f6d014;
                            border-radius: 20px;
                            text-align: center;
                            font-size: 14px;
                            color: white;
                            padding: 6px;
                        }
                    }
                }
            }
        }
        .latest-news {
            padding: 34px 0;
            .news-title {
                color: #454647;
                font-size: 18px;
                text-align: center;
                font-weight: bold;
                margin-bottom: 42px;
                letter-spacing: 1px;
            }
            .news {
                padding: 0 5%;
                .news-item {
                    .item-title {
                        margin-top: 12px;
                        font-weight: bold;
                        font-size: 18px;
                    }
                    .item-detail {
                        margin-top: 4px;
                        font-size: 15px;
                        font-weight: 300;
                    }
                    .item-author {
                        margin-top: 10px;
                        margin-bottom: 12px;
                        font-weight: 300;
                        font-size: 14px;
                        b {
                            font-weight: bold;
                        }
                    }
                    .news-bor {
                        width: 100%;
                        height: 1px;
                        margin-top: 16px;
                        background: #C4C4C4;
                    }
                }
            }
        }
        .about-us {
            padding-top: 16px;
            font-family: Oxygen !important;
            .about-title {
                line-height: normal;
                text-align: center;
                margin-bottom: 18px;
                font-size: 18px;
                font-weight: 700;
            }
            .galleries {
                display: flex;
                flex-direction: column;
                .img {
                    width: 100%;
                    padding: 15px 5%;
                    img {
                        width: 100%;
                    }
                }
                .video {
                    width: 100%;
                    padding: 0 5%;
                    iframe {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .told {
                width: 100%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                .client {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    padding-top: 20px;
                    position: relative;
                    .avatar {
                        width: 30%;
                        text-align: center;
                        margin-bottom: 8px;
                        img {
                            width: 70%;
                            border-radius: 50%;
                        }
                    }
                    .name {
                        position: absolute;
                        left: 30%;
                        top: calc(15% + 20px);
                        font-family: Oxygen;
                        font-style: normal;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                    }
                    .from {
                        position: absolute;
                        left: 30%;
                        bottom: 15%;
                        font-family: Open Sans;
                        font-style: italic;
                        font-weight: normal;
                        line-height: normal;
                        font-size: 16px;
                        text-align: center;
                    }
                }
                .quote {
                    width: 100%;
                }
                .start {
                    font-family: Oxygen;
                    font-style: italic;
                    font-weight: bold;
                    line-height: normal;
                    font-size: 60px;
                    height: 35px;
                    transform: translateX(-7px);
                    color: #f6d014;
                }
                .star {
                    width: 100%;
                    padding: 0 6%;
                    display: flex;
                    flex-direction: column-reverse;
                    .rated {
                        svg {
                            font-size: 18px;
                            color: #f6d014;
                        }
                    }
                    .title {
                        font-weight: bold;
                        line-height: normal;
                        font-size: 16px;
                        letter-spacing: 0.08em;
                    }
                }
                .content {
                    padding: 0 6%;
                    font-weight: 300;
                    line-height: normal;
                    text-align: justify;
                    font-size: 14px;
                    color: #000000;
                }
                .end {
                    font-family: Oxygen;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 60px;
                    height: 5px;
                    text-align: right;
                    transform: translate(-15px, -20px);
                    color: #f6d014;
                }
                .tripAd {
                    font-family: Open Sans !important;
                    font-style: italic !important;
                    font-size: 16px !important;
                    color: #454647;
                    text-align: right;
                    margin-top: 22px;
                    padding: 0 1%;
                }
            }
            .logo {
                margin-top: 5px;
                .logo-img {
                    text-align: center;
                    img {
                        width: 125px;
                        height: 105px;
                    }
                }
                .contact {
                    display: flex;
                    flex-direction: column;
                    .contact-icon {
                        a {
                            color: #161616 !important;
                            display: flex;
                            font-size: 12px !important;
                            svg {
                                margin-right: 5px;
                                transform: translateY(3px);
                                color: #f6d014;
                            }
                            p {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    footer {
        background: #1e354a;
        text-align: center;
        color: #f6d014;
        padding: 7px 0;
        font-size: 14px;
    }
    .fixed-menu {
        position: fixed !important;
        top: 0 !important;
        z-index: 20 !important;
        width: 100%;
        height: 54px !important;
        border-bottom: 4px solid #f6d014;
        img {
            height: 50px !important;
        }
    }
    .fixed-small {
        position: fixed !important;
        top: 0 !important;
        z-index: 20 !important;
        height: 54px !important;
        border-bottom: 4px solid #f6d014;
        img {
            height: 50px !important;
        }
    }
    section {
        position: relative;
        margin-top: 20px;
    }
}