@media only screen and (min-width: 768px) {
    div.chat {
        position: fixed;
        z-index: 50;
        right: 1%;
        bottom: 5%;
        a {
            img {
                margin-top: 1px;
                height: 45px;
            }
            svg {
                font-size: 80px;
                color: #0084ff;
            }
        }
        div {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 30px;
            background: white;
        }
    }
    header.banner {
        padding: 0 !important;
        .mobile-banner {
            display: none !important;
        }
        .desktop-banner {
            width: 100% !important;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    header {
        .head-contact {
            background: #f6d014;
            display: flex;
            color: white !important;
            justify-content: space-between;
            font-size: 15px !important;
            font-weight: 600;
            padding-left: calc(8%);
            padding-right: calc(8%);
            .head-info {
                display: flex;
                width: 85%;
                align-items: center;
                height: 50px;
                div {
                    a {
                        color: white !important;
                        display: flex;
                    }
                    svg {
                        margin-right: 6px;
                        transform: translateY(5%);
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                        margin-right: 30px;
                        color: white !important;
                    }
                }
            }
            .head-link_contact {
                display: flex;
                align-items: center;
                width: 15%;
                justify-content: space-between;
                a {
                    color: white;
                    svg {
                        font-size: 22px;
                    }
                }
            }
        }
        .head-menu {
            padding-left: calc(8%);
            padding-right: calc(8%);
            height: 100px;
            display: flex;
            justify-content: space-between;
            background: white;
            position: relative;
            transition: 0.3s all ease;
            .header-image {
                img {
                    height: 100px;
                    transition: 0.3s all ease;
                }
            }
            .menu-list {
                width: 60%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                a {
                    font-weight: 500;
                    font-size: 16px;
                    color: #777;
                }
                .DNnow a {
                    color: #f6d014 !important;
                }
            }
        }
    }
    main {
        .things {
            margin: 30px 8%;
            background: white;
            padding: 40px 5%;
            .things-img {
                width: 100%;
                display: flex;
                .big-img {
                    width: calc(5 * 100% / 6);
                    padding: 1%;
                    img {
                        width: 100%;
                    }
                }
                .small-img {
                    width: calc(100% / 6);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 1%;
                    .small-item {
                        width: 100%;
                        img {
                            width: 100%;
                            opacity: 0.5;
                            cursor: pointer;
                        }
                    }
                }
            }
            .things-info {
                padding: 1%;
                .info-title {
                    text-align: center;
                    svg {
                        color: #f6d014;
                        font-size: 42px;
                    }
                    p {
                        margin-top: 5px;
                        font-weight: bold;
                        line-height: normal;
                        font-size: 14px;
                    }
                }
                .about {
                    .about-title {
                        display: flex;
                        margin-bottom: 11px;
                        svg {
                            font-size: 18px;
                            color: #f6d014;
                            margin-right: 10px;
                        }
                        p {
                            font-weight: bold;
                            line-height: normal;
                            font-size: 14px;
                        }
                    }
                    .about-content {
                        font-size: 14px;
                        margin-bottom: 11px;
                    }
                }
                .address {
                    .address-title {
                        display: flex;
                        margin-bottom: 11px;
                        svg {
                            color: #f6d014;
                            font-size: 18px;
                            margin-right: 10px;
                            width: 18px;
                        }
                        p {
                            font-size: 14px;
                        }
                    }
                }
                .tags {
                    display: flex;
                    margin-bottom: 11px;
                    svg {
                        font-size: 18px;
                        margin-right: 10px;
                        color: #f6d014;
                        width: 18px;
                    }
                    p {
                        font-size: 14px;
                    }
                }
            }
            .things-message {
                padding: 1%;
                margin-bottom: 11px;
                .message-title {
                    text-align: center;
                    svg {
                        color: #f6d014;
                        font-size: 42px;
                    }
                    p {
                        margin-top: 5px;
                        font-weight: bold;
                        line-height: normal;
                        font-size: 14px;
                    }
                }
                .your-cmt {
                    width: 100%;
                    form {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        div {
                            width: 70%;
                            margin: 25px 0;
                            p {
                                width: 100%;
                                text-align: center;
                                font-weight: bold;
                                line-height: normal;
                                font-size: 14px;
                                margin-bottom: 25px;
                                transform: translateX(10%);
                            }
                            input {
                                border: #f6d014 1px solid;
                                border-radius: 50px;
                                padding: 25px 40px;
                                width: 100%;
                                line-height: 20px;
                            }
                        }
                        button {
                            border-radius: 11px;
                            padding: 6px 14px;
                            font-weight: 600;
                            line-height: normal;
                            font-size: 14px;
                            background: #f6d014;
                            border: none;
                            color: white;
                        }
                    }
                }
                .some-cmts {
                    .client-cmt {
                        display: flex;
                        .client-info {
                            width: 15%;
                            position: relative;
                            .client-avt {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -70%);
                                img {
                                    width: 50px;
                                    height: 50px;
                                    border-radius: 50%;
                                }
                            }
                            .client-name {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                width: 100%;
                                text-align: center;
                                transform: translate(-50%, 18px);
                                font-weight: bold;
                                line-height: normal;
                                font-size: 14px;
                            }
                        }
                        .client-said {
                            width: 70%;
                            .client-rated {
                                margin-left: 50px;
                                .rated {
                                    color: #f6d014;
                                }
                            }
                            .client-told-about {
                                width: 100%;
                                padding: 20px 35px;
                                border-radius: 50px;
                                border: #f6d014 1px solid;
                                font-size: 14px;
                                margin: 5px 0;
                            }
                            .reply {
                                color: #7F7F7F;
                                font-size: 14px;
                                margin-left: 50px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .things-map {
                padding: 1%;
                margin-bottom: 11px;
                .map-icon {
                    text-align: center;
                    svg {
                        
                        font-size: 42px;
                        color: #f6d014;
                    }
                    p {
                        font-weight: bold;
                        line-height: normal;
                        font-size: 14px;
                        margin-top: 5px;
                        margin-bottom: 15px;
                    }
                }
                .map-iframe{
                    height: 400px;
                }
            }
            .things-like{
                .like-icon{
                    text-align: center;
                    svg{
                        font-size: 42px;
                        color: #f6d014;
                    }
                    p{
                        font-size: 14px;
                        font-weight: bold;
                        margin-top: 5px;
                        margin-bottom: 11px;
                    }
                }
                .like-carousel{
                    .like-card{
                        padding: 10px;
                        background: white;
                        .card-name{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 14px;
                            font-weight: bold;
                        }
                        .card-address{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 13px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        .map-here {
            border-top: 5px solid #f6d014;
            background: #42575b;
            padding: 20px calc(8%);
            display: flex;
            flex-direction: row;
            .quick-link {
                width: calc(34%);
                .quick-title {
                    font-weight: 700;
                    font-size: 18px;
                    color: white;
                }
                .quick-list {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    height: 180px;
                    margin-top: 15px;
                    a {
                        font-weight: 500;
                        color: white;
                        svg {
                            font-size: 10px;
                            margin-right: 10px;
                            color: #f6d014;
                            transition: 0.3s all ease;
                            transform: translateY(-3px);
                        }
                        &:hover {
                            svg {
                                margin-right: 3px;
                                margin-left: 7px;
                            }
                        }
                    }
                }
            }
            .map {
                width: calc(40%);
                margin-right: calc(1%);
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
            .facebook {
                width: calc(25%);
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    footer {
        background: #1e354a;
        text-align: center;
        color: #f6d014;
        padding: 7px 0;
        font-size: 14px;
    }
}