@media only screen and (max-width: 768px) {
    div.chat {
        position: fixed;
        z-index: 50;
        right: 4%;
        bottom: 5%;
        a {
            img {
                margin-top: 1px;
                height: 45px;
            }
            svg {
                font-size: 60px;
                color: #0084ff;
            }
        }
        div {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 35px;
            height: 25px;
            background: white;
        }
    }
    header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        .toggle {
            position: absolute;
            background: white;
            padding: 5px;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            left: 2%;
            cursor: pointer;
            transition: 0.3s all ease;
            svg {
                font-size: 20px;
            }
        }
        .move-toggle {
            top: 116%;
            border-bottom-left-radius: 100%;
            border-bottom-right-radius: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .move-catalog {
            bottom: 0 !important;
        }
        .head-img {
            text-align: center;
            padding: 10px 0;
            img {
                width: 80px;
            }
        }
        .things-catalog {
            position: absolute;
            transition: 0.3s all ease;
            bottom: 100%;
            z-index: 5;
            width: 100%;
            background: white;
            flex: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .things-but {
                width: calc(100% / 3);
                display: flex;
                flex-direction: column;
                align-items: center;
                transform: translateY(4px);
                i {}
                i::before {
                    font-size: 30px;
                    margin: 0;
                }
                p {
                    display: none;
                }
            }
        }
        .things-cart {
            display: none;
        }
    }
    main {
        background: white;
        width: 100%;
        .cover {
            width: 100%;
            max-height: 100px;
            margin: 0;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .info {
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            .info-avt {
                display: flex;
                flex-direction: column;
                width: 100%;
                .avt {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 30%;
                    img {
                        width: 100%;
                    }
                }
                .info-rated {
                    color: #1092BB;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    text-align: center;
                    .rated-num {
                        font-size: 14px;
                    }
                    .rated-text {
                        font-size: 14px;
                    }
                }
            }
            .info-text {
                margin-top: 18px;
                width: 100%;
                display: flex;
                flex-direction: column;
                .name-text {
                    font-size: 18px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .info-item {
                    display: flex;
                    margin-top: 5px;
                    padding: 0 2%;
                    svg {
                        font-size: 18px;
                        color: #f6d014;
                        transform: translateY(2px);
                        margin-right: 5px;
                        width: 14px;
                    }
                    p {
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
        }
        .menu {
            padding: 0px 2%;
            .menu-title {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .menu-recommend {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
                .recmm-img {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .recmm-text {
                    width: 100%;
                    text-align: center;
                    .name-recmm {
                        font-weight: bold;
                        font-size: 14px;
                        margin: 4px 0;
                    }
                    .detail-recmm {
                        font-size: 14px;
                        font-family: Open Sans;
                        text-align: left;
                    }
                    .cost-recmm {
                        font-size: 14px;
                        font-weight: bold;
                        margin: 0px 0 8px;
                    }
                    .but-recmm {
                        background: #f6d014;
                        border-radius: 15px;
                        padding: 3px 15px;
                        display: inline-block;
                        .but-here {
                            color: white !important;
                            font-size: 14px;
                        }
                    }
                }
            }
            .menu-list {
                width: 100%;
                .show-item {
                    margin-bottom: 35px;
                    .img-item {
                        width: 100%;
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .hide-item {
                            .description-item {
                                display: none;
                            }
                            .but-item {
                                position: absolute;
                                z-index: 10;
                                top: calc(100% + 42px);
                                width: 100%;
                                left: 50%;
                                .but-here {
                                    padding: 2px 10px;
                                    border-radius: 15px;
                                    color: white;
                                    background: #f6d014;
                                    display: inline-block;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                    .title-item {
                        font-size: 14px;
                        .cost-item {
                            text-align: center;
                        }
                    }
                }
                .slick-prev {
                    left: -1%;
                    z-index: 99;
                    transform: translateY(-30px);
                }
                .slick-prev:before {
                    font-size: 30px;
                    color: #f6d014;
                }
                .slick-next {
                    right: 2%;
                    transform: translateY(-30px);
                }
                .slick-next:before {
                    font-size: 30px;
                    color: #f6d014;
                }
            }
        }
        .cmt {
            padding: 16px 2%;
            .cmt-title {
                font-size: 14px;
                font-weight: bold;
            }
            .cmt-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                .cmt-list {
                    width: 80%;
                    .rated-item {
                        display: flex;
                        align-items: center;
                        margin-bottom: 5px;
                        width: 100%;
                        .rated-num {
                            font-size: 14px;
                            width: 11px;
                        }
                        .rated-icon {
                            svg {
                                font-size: 14px;
                                margin-right: 10px;
                                margin-left: 10px;
                                color: #454647;
                            }
                        }
                        .rated-percent {
                            width: 100%;
                            .total {
                                height: 10px;
                                background: #E0E0E0;
                                border-radius: 8px;
                                .percent {
                                    height: 10px;
                                    background: #f6d014;
                                    width: 50%;
                                    border-radius: 8px;
                                }
                            }
                        }
                    }
                }
                .add-cmt {
                    .add-but {
                        display: flex;
                        align-items: center;
                        color: white;
                        background: #f6d014;
                        cursor: pointer;
                        border-radius: 11px;
                        padding: 5px 10px;
                        p {
                            font-size: 14px;
                            margin: 0;
                        }
                        svg {
                            font-size: 14px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            .old-cmt {
                margin-top: 15px;
                padding: 0 2%;
                .old-cmt-wrap {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 25px;
                    .user {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .avt {
                            border-radius: 100%;
                            max-width: 50px;
                            max-height: 50px;
                            img {
                                max-height: 50px;
                                max-width: 50px;
                            }
                        }
                        .name {
                            font-size: 14px;
                            line-height: 22px;
                            font-weight: bold;
                            margin-top: 2px;
                            margin-bottom: 2px;
                        }
                        .date {
                            color: #7F7F7F;
                            font-size: 12px;
                            line-height: 16px;
                        }
                    }
                    .text {
                        width: 100%;
                        margin-top: 5px;
                        .rated {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-bottom: 5px;
                            .rated-icon {
                                svg {
                                    font-size: 14px;
                                    margin: 0 2px;
                                    color: #f6d014;
                                }
                            }
                            .rated-text {
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                        .text-cmt {
                            color: #454647;
                            font-size: 13px;
                            font-family: Open Sans;
                            margin-bottom: 10px;
                        }
                        .img-cmt {
                            position: relative;
                            width: 100%;
                            display: flex;
                            overflow: auto;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                            img {
                                height: 100%;
                                margin: 0 5px;
                            }
                        }
                        .interact {
                            display: flex;
                            color: #7F7F7F;
                            .item {
                                display: flex;
                                svg {
                                    font-size: 16px;
                                    transform: translateY(3px);
                                }
                                p {
                                    margin: 0;
                                    font-size: 14px;
                                    margin: 0 10px 0 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .maps {
            padding: 16px 10%;
            .maps-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 15px;
            }
            iframe {
                width: 100%;
                height: 300px;
            }
        }
        .likes {
            padding: 0 2%;
            .likes-title {
                font-size: 24px;
                font-weight: bold;
            }
            .likes-list {
                .like-item {
                    padding: 0 10px;
                    img {
                        width: 100%;
                    }
                    .img-item {
                        position: relative;
                        .pop-up {
                            text-align: center;
                        }
                    }
                }
            }
            .slick-prev {
                left: -1%;
                z-index: 99;
                transform: translateY(-30px);
            }
            .slick-prev:before {
                font-size: 30px;
                color: #797872;
            }
            .slick-next {
                right: 2%;
                transform: translateY(-30px);
            }
            .slick-next:before {
                font-size: 30px;
                color: #797872;
            }
        }
        .contact {
            margin: 0;
            padding: 0 2%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .img-logo {
                text-align: center;
                margin: 10px 0;
                img {
                    max-width: 120px;
                    max-height: 100px;
                }
            }
            .contact-list {
                .contact-icon {
                    margin-bottom: 5px;
                    a {
                        display: flex;
                        svg {
                            font-size: 14px;
                            color: #f6d014;
                            transform: translateY(3px);
                            margin-right: 10px;
                            width: 20px;
                        }
                        p {
                            margin: 0;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    footer {
        background: #1e354a;
        text-align: center;
        color: #f6d014;
        padding: 7px 0;
        font-size: 14px;
    }
}